.custom-padding-1 {
		padding: 11.2px 12.8px !important;
		padding: 0.7rem 0.8rem !important;
}

.custom-font-weight-medium {
		font-weight: 500 !important;
}

.custom-font-weight-extra-light {
		font-weight: 200 !important;
}

.custom-fs-1 {
		font-size: 1.3em !important;
}

.custom-fs-2 {
		font-size: 53.44px !important;
		font-size: 3.34rem !important;
}

.text-3 {
		font-size: 1.1em !important;
}

.custom-btn-style-1 {
		background-color: #000 !important;
		border-color: #000 !important;
		font-family: 'Poppins', sans-serif;
		font-size: 17.6px;
		font-size: 1.1rem;
		color: #FFF !important;
		padding: 8px 24px !important;
		padding: 0.5rem 1.5rem !important;
}

@media (max-width: 575px) {
		.custom-mobile-scale-1 {
				transform: scale(0.6);
		}
}

.custom-slider-dot {
		width: 12px;
		height: 12px;
		border-radius: 100%;
}

@-webkit-keyframes lineProgress {
		from {
				stroke-dashoffset: 1550;
		}
		to {
				stroke-dashoffset: 0;
		}
}

@keyframes lineProgress {
		from {
				stroke-dashoffset: 1550;
		}
		to {
				stroke-dashoffset: 0;
		}
}

.lineProgress {
		-webkit-animation-name: lineProgress;
						animation-name: lineProgress;
}

@-webkit-keyframes lineProgressAndFill {
		0% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 1440;
				fill-opacity: 0;
		}
		75% {
				fill-opacity: 0.5;
		}
		90% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 0;
				fill-opacity: 0.5;
		}
		100% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 0;
				fill-opacity: 1;
		}
}

@keyframes lineProgressAndFill {
		0% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 1440;
				fill-opacity: 0;
		}
		75% {
				fill-opacity: 0.5;
		}
		90% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 0;
				fill-opacity: 0.5;
		}
		100% {
				stroke-dasharray: 1440;
				stroke-dashoffset: 0;
				fill-opacity: 1;
		}
}

.lineProgressAndFill {
		-webkit-animation-name: lineProgressAndFill;
						animation-name: lineProgressAndFill;
}

.custom-side-dots {
		position: relative;
		padding-left: 19.2px;
		padding-left: 1.2rem;
		padding-right: 19.2px;
		padding-right: 1.2rem;
}

.custom-side-dots:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #CCC;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		transform: translate3d(0, -50%, 0);
}

.custom-side-dots:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		background-color: #CCC;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		transform: translate3d(0, -50%, 0);
}

.custom-side-dots.custom-side-dots-rm-right {
		padding-right: 0;
}

.custom-side-dots.custom-side-dots-rm-right:after {
		content: none;
}

.custom-side-dots.custom-side-dots-rm-left {
		padding-left: 0;
}

.custom-side-dots.custom-side-dots-rm-left:before {
		content: none;
}

.custom-side-dots.custom-side-dots-at-top {
		padding-left: 15px;
		padding-right: 15px;
}

.custom-side-dots.custom-side-dots-at-top:before, .custom-side-dots.custom-side-dots-at-top:after {
		top: 44px;
		transform: none;
}

.custom-side-dots.custom-side-dots-big:before, .custom-side-dots.custom-side-dots-big:after {
		width: 14px;
		height: 14px;
}

.custom-side-dots.custom-side-dots-outside:before {
		left: -20px;
}

.custom-side-dots.custom-side-dots-outside:after {
		right: -20px;
}

@media (max-width: 767px) {
		.custom-side-dots.custom-side-dots-rm-sm:before, .custom-side-dots.custom-side-dots-rm-sm:after {
				content: none;
		}
}

.custom-images-position-1 div:nth-child(2) {
		transform: translate3d(-50%, -30%, 0);
}

.custom-images-position-1 div:nth-child(3) {
		transform: translate3d(76%, 30%, 0);
}

.custom-images-position-1 div:nth-child(4) {
		transform: translate3d(-13%, 147%, 0);
}

.custom-circle-pos-1 {
		top: -170px !important;
}

.custom-circle-pos-2 {
		bottom: -210px !important;
		right: -170px !important;
}
